@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="panel panel-primary">
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
            </div>
            <label for="exampleInputPassword1">Text</label>
            <textarea class="form-control" rows="3"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>
        <br>
        <address>
            Aroud PSU<br />
            Phuket,TH <br />
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            <abbr title="Phone">Phone:</abbr>
            091-826-5131
        </address>

        <address>
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">aroundpsu@psu.com</a><br />
        </address>
